<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/TestDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<description></description>
		<display-name>Update Test</display-name>
		<servlet-name>TestUpdateServlet</servlet-name>
		<servlet-class>com.taskbook.service.TestUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestUpdateServlet</servlet-name>
		<url-pattern>/testUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Test</display-name>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.taskbook.service.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Delete Test</display-name>
		<servlet-name>TestDeleteServlet</servlet-name>
		<servlet-class>com.taskbook.service.TestDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestDeleteServlet</servlet-name>
		<url-pattern>/testDelete</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Task Test</display-name>
		<servlet-name>TestTaskServlet</servlet-name>
		<servlet-class>com.taskbook.service.TestTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestTaskServlet</servlet-name>
		<url-pattern>/testTask</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Task Delete Test</display-name>
		<servlet-name>TestTaskDeleteServlet</servlet-name>
		<servlet-class>com.taskbook.service.TestTaskDeleteServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestTaskDeleteServlet</servlet-name>
		<url-pattern>/testTaskDelete</url-pattern>
	</servlet-mapping>
		<servlet>
		<description></description>
		<display-name>Task Update Test</display-name>
		<servlet-name>TestTaskUpdateServlet</servlet-name>
		<servlet-class>com.taskbook.service.TestTaskUpdateServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestTaskUpdateServlet</servlet-name>
		<url-pattern>/testTaskUpdate</url-pattern>
	</servlet-mapping>
</web-app>